@import 'tailwindcss';
@plugin 'tailwind-scrollbar' {
  preferredstrategy: 'pseudoelements';
  nocompatible: true;
}
@theme {
  --font-display: 'Mabry Pro', 'sans-serif';
  --font-sans:
    ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';
  --font-serif: ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
  --font-mono:
    ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New',
    monospace;
  --font-MabryPro: 'Mabry Pro', 'sans-serif';
}
@layer base {
  @font-face {
    font-family: 'Mabry Pro';
    font-weight: 100;
    src: url(fonts/MabryPro-Light.woff2) format('woff2');
  }
  @font-face {
    font-family: 'Mabry Pro';
    font-weight: normal;
    src: url(fonts/MabryPro-Medium.woff2) format('woff2');
  }
  @font-face {
    font-family: 'Mabry Pro';
    font-weight: bold;
    src: url(fonts/MabryPro-Bold.woff2) format('woff2');
  }
}
